body
{
	font-family: 'Lato', sans-serif;
}

.break
{
	min-height: 1em;
	background: rgba(227, 245, 252,0.8);
}
.navigation
{
	margin: 0 auto;
}
.nav-item
{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 1.15em;
}
a#order
{
	text-decoration: none;
	color: #198754;
}
a#order:hover
{
	color: white;
}
.d-flex
{
	margin-left: 170%;
}



.con
{
	background: rgba(227, 245, 252,1);
}
.content-img
{
	padding: 10%;
}
.content
{
	padding: 20% 10% 10% 10%;

}
.content h2
{
	margin-bottom: 10%;
}
.content h3
{
	padding-left: 30%;
}


.reviews
{
	background: rgba(227, 245, 252, 0.6); 
}
.card
{ 
	margin: 3% 10%;
	text-align: center;
	line-height: 1.55em;
}
.card h5
{
	font-size: 1.15em;
}



.outlets
{
	background: rgba(227, 245, 252, 0.4);
}
.outlets .col-lg-12
{
	font-family: monospace;
	font-size: 2em;
	font-weight: 200;
	text-align: center;

	margin: 2% auto;
}



.footer .col-lg-4
{
	padding-top: 3%;
	
	background: rgba(145, 157, 158,1);
	text-align: center; 
}
.footer a
{
	color: rgba(0,0,0,1);

	margin-left: 007%;
	margin-right: 007%;
	text-decoration: none;
}